.login-component{
  height: 100%;
  background-image: linear-gradient(#6D6027,#D3CBB8);

}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  /* display: flex; */
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  /* justify-content: flex-end; */
  background-color: #548BC8;
  /* width: 73px; */
  float: right;
}
.logindiv{
  height: 400px;
}
