:host {
  display: block;
  width: 100%;
  height: 100%;
  .ngx-datatable {
    height: 75vh;
    width: 95vw;
    margin: 0;
  }
  .reportImg{
    background-image: url('../../../../assets/export.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 35%;
    height: 50%;
    cursor: pointer;
  }
  .btnReport{
    width: 50px;
    height: 30px;
    background: none;
    border: none;
    outline:none;
    border-radius: 5px;
  }
  .alignBtn
  {
    margin-left: -10px;
    margin-right: -15px;
  }
  .active, .btnReport:hover {
    background-color: #666;
    color: white;
  }
}
