:host {
  display: block;
  width: 100%;
  height: 100%;
  .ngx-datatable {
    height: 75vh;
    width: 95vw;
    margin: 0;
  }
  .reportImg{
    background-image: url('../../../../assets/export.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 25%;
    height: 25px;
    cursor: pointer;
  }
  .btnReport{
    width: 50px;
    height: 30px;
    background: none;
    border: none;
  }
}
