.login-component{
  height: 100%;
  background-image: linear-gradient(#6D6027,#D3CBB8);

}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}


:host {
  display: inline-block;
  justify-content: center;
  margin: 21% 27%;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}
::ng-deep .mat-form-field-flex{
  height: 30px;
}
mat-card-title,
mat-card-content {
  /* display: flex; */
  justify-content: center;
  font-weight: 0 !important;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  background-color: #548BC8;
  float: right;
  width:33%;
  border-radius: 3px;
}
.logindiv{
  height: 450px;
  margin-top: -20%;
}
.mat-radio-outer-circle{
height: 15px !important;
width: 15px !important;
}
.mainheader{
  font-size: 24px;color:#757575;font-weight: 400;margin-top: 8%;
}
.subheader{
  font-size: 11px;color:#A1A1A1;font-weight: 400
}
.loginbtn{
  padding: 15px;color: white;
}

.footerdiv{
  margin-top: 16%;
  display: flex;
}
.footercontent {
  font-size: 10px;
  margin-right: 15px;
  color:#757575
}
p{
  margin-bottom: 0px;
}
