<div class="mapContainer" fxLayout ="row">
    <div class="map-component" [ngClass]="{
      'map-full-component':!showDetails}"
    leaflet
    [leafletOptions]="options"
    [leafletFitBounds]="fitBounds"
    (leafletMapReady)="onMapReady($event)"
     fxFlex="70">
</div>
<div class="details" *ngIf='showDetails' fxFlex = '30'>
  <div fxLayout="column" fxFlex>
      <div fxFlex="8">
        <div class="showdeatilsHeader">
          <span class="dot"></span>
            <label>Hello Marker</label>
        </div>
        <label class="showdetailssubinfo">hello</label>
        </div>
        <div fxFlex="10" style="background-color:lemonchiffon;">
          <div fxFlex="row" fxFlex fxLayoutAlign="space-around center">
              <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
          </div>
<div fxFlex="30" >
  <div fxLayout="column" fxFlex  >
      <div fxFlex="33" style="margin: 2% 10% 2% 10%;">
          <label class="showdeatilsHeader">Hello Marker</label>
          <label class="showdetailssubinfo">hello</label>
        </div>
        <div fxFlex="33" style="margin: 2% 10% 2% 10%;">
            <label class="showdeatilsHeader">Hello Marker</label>
          <label class="showdetailssubinfo">hello</label>
          </div>
          <div fxFlex="33" style="margin: 2% 10% 2% 10%">
            <div fxLayout="row" fxFlex>
              <div fxFlex="50" style="margin: 2%;" >
                  <label class="showdeatilsHeader">Hello Marker</label>
                  <label class="showdetailssubinfo">hello</label>
              </div>
              <div fxFlex="50" style="margin: 2%;">
                  <label class="showdeatilsHeader">Hello Marker</label>
                  <label class="showdetailssubinfo">hello</label>
                </div>
            </div>
            </div>
  </div>
</div>
<!-- <div fxFlex="30">

    <div fxLayout="column" fxFlex fxLayoutAlign="space-between center" >
        <div fxFlex="33" >
            <label class="showdeatilsHeader">Hello Markersfsfsdfdsfdfvd</label>
            <label class="showdetailssubinfo">hellodfds</label>
          </div>
          <div fxFlex="33">
              <label class="showdeatilsHeader">Hello Markercfdgdfgdsf</label>
            <label class="showdetailssubinfo">hellodfsfds</label>
            </div>
            <div fxFlex="33" style="margin-bottom: 15px;">
              <div fxLayout="row" fxFlex style="margin: 2% 10% 2% 10%" >
                <div fxFlex="50" >
                    <label class="showdeatilsHeader">Hello Marker</label>
                    <label class="showdetailssubinfo">hello</label>
                </div>
                <div fxFlex="50">
                    <label class="showdeatilsHeader">Hello Marker</label>
                    <label class="showdetailssubinfo">hellosfdsfa</label>
                  </div>
              </div>
              </div>
    </div>
  </div> -->
<div fxFlex="9">
  <div>
      <button class="btn btn-primary" style="width: 40%;
      margin-top: 1%;
      margin-bottom: 1%;"><span class="dot" style="float: right;"></span>View Report</button>
  </div>
  </div>
<div fxFlex="43" style="background-color:lightpink;">
<!-- <img src="../../../../assets/report.jpg"/> -->
<div  #chartContainer  style="min-width: 310px;height: 260px;"></div>
  </div>

  </div>
</div>




