.map-component{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    user-select: none;
    margin: 7px;
}
.mapContainer{
  width: 100%;
  height: 100%;
  padding: 0 ;
}

.overlay {
  width: 25%;
  height: 6%;
  position: absolute;
  /* top: 100%; */
  /* left: 0; */
  /* bottom: 0; */
  background-color: rgba(255, 255, 255);
  z-index: 1000;
  /* margin-left: 75%; */
  margin-left: 70%;
  margin-top: 2%;
}
.showdeatilsHeader
{
  font-size: 15px;
    float: left;
    /* margin: 8px; */
}
.showdetailssubinfo
{
  float: left;
  clear: both;
  /* margin-left: 9px; */
  margin-top: -11px;
  font-size: 11px;
}
.dot {
  height: 11px;
  width: 11px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.detailsClass
{
  background-color: red;
  width: 97%;
  height: 90%;
  margin-top: 7px;
  margin-left: 5px;
}

img {
  width: 100%;
  height: 100%;
}

.map-full-component {
  max-width: 100% !important;
}

.searchbar{
  font-size: 17px;
  border: none;
  text-align: left;
    margin: 4px;
}

.search{
  background-image: url('../../../../assets/search.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 4px;
  width: 30px;
  color: white;
}

.geomap{
  background-image: url('../../../../assets/map.svg');
}

.reportImg{
  background-image: url('../../../../assets/upload.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  height: 19px;
  cursor: pointer;
}
.geo{
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  cursor: pointer;
}
.geonavigate{
  background-image: url('../../../../assets/navigation.svg');

}
.geofence{
  background-image: url('../../../../assets/geofence.svg');
}
#search-button {
  width: 100%;
    background: white;
    border: none;
    height: 100%;
}

#search-button svg {
  width: 20px;
  height: 20px;
}
*:focus {
  outline: none;
}

.details{

  margin: 7px;
  background: #FFFFFF;
}

.reportsBtn{
  width: 45%;
  margin-top: 2%;
  margin-bottom: 1%;
  line-height: 18px;
}
