.map-component{
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: relative;
    user-select: none;
}
.mapContainer{
  width: 100%;
  height: 100%;
  padding: 0 ;
}

.overlay {
  width: 25%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color:rgba(255, 255, 255,0.9);
  z-index: 1000;
  margin-left: 75%;
}
.showdeatilsHeader
{
  font-size: 15px;
    float: left;
    margin: 8px;
}
.showdetailssubinfo
{
  float: left;
  clear: both;
  margin-left: 23px;
  margin-top: -15px;
  font-size: 11px;
}
.dot {
  height: 11px;
  width: 11px;
  background-color:red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 4px;
}

.detailsClass
{
  background-color: red;
  width: 97%;
  height: 90%;
  margin-top: 7px;
  margin-left: 5px;
}

