<div style="height: 100%;">
  <!-- <div fxLayout="column wrap" fxLayoutAlign="space-around stretch" fxFlex> -->
  <div fxLayout="column wrap" fxFlex>
    <div fxFlex="50">
      <app-mapview [options]="options" [fitBounds]="fitBounds" [activeTile]="activeTilelayer" [showAction]="isShowAction" ></app-mapview>
    </div>
    <div fxFlex="50">
      <div  fxLayout="row wrap"
        fxLayoutAlign="space-evenly stretch">
        <div fxFlex="32">
          <app-dashboard-reports></app-dashboard-reports>
        </div>
        <div style="background-color: #ffffff;" fxFlex="32">
          <app-table></app-table>
        </div>
        <div style="background-color: #604ec2;" fxFlex="32">
          <app-piechart-report></app-piechart-report>
        </div>
      </div>
    </div>
  </div>
</div>
