<div style="height: 100%;">
  <div fxLayout="column" fxFlex>
    <div fxFlex="50">
<app-mapview></app-mapview>a

    </div>
    <div fxFlex="50"  fxLayout="row" fxFlexFill  fxLayoutAlign="space-evenly" >
      <div style="background-color: #ffd67d;" fxFlex="33">
        hello 2.1
      </div >
      <div style="background-color: #ff067d;"fxFlex="33">
        hello 2.2
      </div>
      <div style="background-color: #604ec2;" fxFlex="33">
        hello 2.3
      </div>
    </div>
  </div>
</div>



