<div style="width: 100%;height: 100%;" fxFlex fxLayout="column wrap">
  <div fxFlex="20" style="display: flex; justify-content: space-between; flex-wrap:nowrap;padding: 6px;">
    <div style="font-weight: bold;"><label>Notification</label></div>
    <div>
      <button style="padding: 0;" [matMenuTriggerFor]="menu" class="dotsmenu">
          <mat-icon style="font-size: 17px;">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item class="menuitem">
            <span>Inactive</span>
          </button>
          <button mat-menu-item class="menuitem">
            <span>Active</span>
          </button>
        </mat-menu>
      <button style="border: none;background-color: white; padding: 0;" mat-icon-button>
        <mat-icon style="font-size: 17px;">filter_list</mat-icon>
      </button></div>
  </div>
  <ngx-datatable fxFlex="80" class="material" style="width: 100%;height: 100%;box-shadow: none;" [rows]="rows"
    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="auto" [rowHeight]="'50'" [count]="true">
    <ngx-datatable-column name="name">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.company}}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Vheicle Type">
      <ng-template let-row="row" ngx-datatable-cell-template>
        {{row.name}}
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>
<!-- <ngx-datatable-column name="Time">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.name}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Avg Speed">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.name}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Distance">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.name}}
    </ng-template>
  </ngx-datatable-column> -->
<!-- <ngx-datatable-column name="Gender">
  </ngx-datatable-column> -->
