<div style="width: 100%;height: 100%;" fxFlex fxLayout="column wrap">
  <div fxFlex="20" style="display: flex; justify-content: space-between; flex-wrap:nowrap;padding: 6px;">
    <div style="font-weight: bold;"><label>Notification</label></div>
    <div>
      <button style="padding: 0;" [matMenuTriggerFor]="menu" class="dotsmenu">
        <mat-icon style="font-size: 17px;">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="after">
        <button mat-menu-item class="menuitem">
          <span>Inactive</span>
        </button>
        <button mat-menu-item class="menuitem">
          <span>Active</span>
        </button>
      </mat-menu>
      <button style="border: none;background-color: white; padding: 0;" mat-icon-button>
        <mat-icon style="font-size: 17px;">filter_list</mat-icon>
      </button>
    </div>
  </div>

  <div fxFlex="80" style="width: 100%;">
    <ngx-datatable class="material table" [rows]="rows"
      [columnMode]="'force'" [limit]="10" [scrollbarV]="true">
      <ngx-datatable-column *ngFor="let col of columns" [name]="col.name">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row[col.prop]}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

</div>