
mat-grid-tile {
  background: lightblue;
}

/* :mat-grid-list ::ng-deep mat-grid-tile.register{
  border: 1px solid;
  margin: 25%;
} */
.maindiv {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.sideinfo{
  padding: 25%;
  margin-top: 15%;
}
.sideinfo-title{
  font-size: 14px;
  color: white;
  text-align: left;
  vertical-align: center;
  margin: 5%;
}
.content{
  color: white;
  text-align: left;
  font-size: 10px;
  margin: 5%;
  width: 305px;
}
mat-card-actions{
  margin: 5%;
}

.login-btn{
  background-color: transparent;
  color: white;
  padding: 7px;
  width: 79px;
  border-radius: 5px;
}

