
mat-grid-tile {
  background: lightblue;
}

/* :mat-grid-list ::ng-deep mat-grid-tile.register{
  border: 1px solid;
  margin: 25%;
} */
.maindiv {
  background-image: url('../assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

