
mat-grid-tile {
  background: lightblue;
}

/* :mat-grid-list ::ng-deep mat-grid-tile.register{
  border: 1px solid;
  margin: 25%;
} */
.maindiv {
  background-color: blue;

  background-image: url('../assets/bgimage.jpg');
}

