<!-- <mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
<router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile class="register">2</mat-grid-tile>
</mat-grid-list> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md" style="background-color: red;">
      One of three columns
    </div>
    <div class="col-md" style="background-color: blue;">
      One of three columns
    </div>
  </div>
</div> -->

<div class="row" style="background-color :white;height: 100%;">
<div class="col-sm-6">
<router-outlet></router-outlet>
</div>
<div class="col-sm-6 maindiv">
<div class="container-fluid">
  jdsgdshd
</div>
</div>
</div>


