.history{
  .tabsmenu {
    display       : flex;
    flex-direction: row;
    padding       : 10px;
  
    .tab {
      padding-left: 5px;
  
      button {
        border          : none;
        background-color: #fafafa;
  
        &:focus {
          outline: none;
        }
      }
  
      .active {
        color        : blue;
        border-bottom: solid 1px blue;
      }
    }
  }
  
  ::ng-deep .searchcontainer {
    display        : flex;
    flex-direction : row;
    justify-content: flex-start;
    flex-wrap      : wrap;
    align-items    : flex-start;
    border         : #80808038 solid 1px;
    padding        : 5px;
    width          : 99%;
  
    .vehicletype,
    .Reporttype {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      flex-wrap      : wrap;
      align-items    : stretch;
      padding        : 1px;
  
      mat-label {
        height        : 13px;
        position      : relative;
        text-align    : left;
        font-size     : 12px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        color         : #4a4a4a;
      }
  
      mat-form-field {
        height  : 40px;
        width   : 150px;
        position: relative;
  
        .mat-form-field-wrapper {
          height  : 100%;
          position: relative;
          padding : 0px;
  
          .mat-form-field-flex {
            height  : inherit;
            position: relative;
  
            .mat-form-field-infix {
              padding: 0px;
              margin : 0px;
            }
          }
        }
      }
    }
  
    .datefrom,
    .dateto {
      display        : flex;
      justify-content: center;
      flex-direction : column;
      flex-wrap      : wrap;
      align-items    : stretch;
      padding        : 1px;
  
      mat-label {
        height        : 13px;
        position      : relative;
        text-align    : left;
        font-size     : 12px;
        font-weight   : normal;
        font-stretch  : normal;
        font-style    : normal;
        line-height   : normal;
        letter-spacing: normal;
        color         : #4a4a4a;
      }
  
      mat-form-field {
        height    : 40px;
        width     : 150px;
        margin-top: 4px;
  
        .mat-form-field-wrapper {
          height  : 100%;
          position: relative;
          padding : 0px;
          margin  : 0px;
  
          .mat-form-field-flex {
            .mat-form-field-infix {
              height : 100%;
              padding: 0px;
              margin : 0px;
            }
  
            .mat-form-field-suffix {
              button {
                right: -17px;
              }
            }
          }
        }
      }
    }
  
    .btnReset {
      font-size       : 12px;
      font-weight     : bold;
      font-stretch    : normal;
      font-style      : normal;
      line-height     : normal;
      letter-spacing  : normal;
      color           : #4285f4;
      margin-top      : 20px;
      border          : none;
      background-color: white;
    }
  
    .reportsBtn {
      font-size       : 16px;
      font-weight     : bold;
      font-stretch    : normal;
      font-style      : normal;
      line-height     : normal;
      letter-spacing  : 0.34px;
      color           : #ffffff;
      width           : 135px;
      height          : 38px;
      border-radius   : 4px;
      background-color: #4285f4;
      margin          : 10px 0px 0px 0px;
    }
  
  }
}

