.tabsmenu {
  display: flex;
  flex-direction: row;
  padding: 10px;

  .tab {
    button {
      border: none;
      background-color: #fafafa;

      &:focus {
        outline: none;
      }
    }
    .active {
      color: blue;
      border-bottom: solid 1px blue;
    }
  }
}
