.tabsmenu {
  display       : flex;
  flex-direction: row;
  padding       : 10px;

  .tab {
    button {
      border          : none;
      background-color: #FAFAFA;

      &:focus {
        outline: none;
      }
    }

  }

  .active {
    border-bottom: solid 1px blue;

    button {
      color: blue;
    }
  }

}