.reportdetails {
  .tabsmenu {
    display       : flex;
    flex-direction: row;
    padding       : 8px;

    .tab {
      padding-left: 5px;

      button {
        border          : none;
        background-color: #fafafa;

        &:focus {
          outline: none;
        }
      }

      .active {
        color        : blue;
        border-bottom: solid 1px blue;
      }
    }
  }

  .searchcontainer {
    width         : 99%;
    display       : flex;
    flex-direction: row;

    button {
      background: transparent;
      border    : none;

      &:focus {
        outline: none;
      }

      mat-icon {
        font-size     : 17px;
        text-align    : left;
        vertical-align: middle;
        height        : 20px;
      }

      span {
        font-weight: bold;
        font-size  : 14px;
      }
    }

    .search {
      width        : 90%;
      display      : flex;
      border       : solid 1px #EAEDF2;
      border-radius: 5px;

      input {
        border: none;
      }

      mat-icon {
        font-size  : 19px;
        padding-top: 8px;
      }
    }

    .add {
      background-color: #EAEDF2;
      width           : 10%;
      border-radius   : 5px;
      margin-right    : 15px;
    }
  }
}