<div style='height:100%'>
  <div fxLayout="column" fxFlex>
    <header fxFlex='8'>
      <div class="header-main">
        <div class="logo" fxFlex="7">Logo</div>
        <div class="header-left">
          <svg class="profile header-left-common"></svg>
          <div class="ring header-left-common"></div>
          <div class="help header-left-common"></div>
        </div>
      </div>
    </header>
    <div class="bounds" fxFlex='92'>
      <div class="content" fxLayout="row" fxFlexFill>
        <div [fxFlex]="sidenavWidth" class="nav">
          <mat-sidenav #sidenav mode="over" class="sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true"
            (mouseenter)="increase()" (mouseleave)="decrease()">
            <mat-nav-list>

              <mat-list-item routerLink="./" routerLinkActive="active">
                <mat-icon mat-list-icon>link</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 4" class="sidenav-item">
                  <h5>Home</h5>
                </div>
              </mat-list-item>


              <mat-list-item routerLink="./dashboard" routerLinkActive="">
                <mat-icon mat-list-icon>home</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 4" class="sidenav-item">
                  <h5>Dashboard</h5>
                </div>
              </mat-list-item>

              <mat-list-item routerLink="2" routerLinkActive="">
                <mat-icon mat-list-icon>face</mat-icon>
                <div fxFlex="10"></div>
                <div *ngIf="sidenavWidth > 4" class="sidenav-item">
                  <h5>Profile</h5>
                </div>
              </mat-list-item>


            </mat-nav-list>
          </mat-sidenav>

        </div>
        <div [fxFlex]="mainbodyWidth" class="sec2">

          <router-outlet></router-outlet>

        </div>
      </div>

    </div>

  </div>
</div>