header{
  /* height:60px; */
  background-color:#2B3346;
}
.header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.header-left{
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
  div{
    margin: 0 3px 0 3px;
  }
}
// .header-left-common{
//   background-position: center;
//     background-repeat: no-repeat;
//     background-size: contain;
//     margin: 4px;
//     width: 30px;
//     color: white;
// }
// .profile {
//   background-image: url('../../assets/user.svg');
//   fill:white;
// }
// .ring {
//   background-image: url('../../assets/ring.svg');
// }
// .help {
//   background-image: url('../../assets/info.svg');
// }
.header-left > div {
  font-size: 2px;
  padding: 2px;
  color: white;
}
.logo{
  flex: 1 1 7%;
  box-sizing: border-box;
  max-width: 7%;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 5px;
  margin-left: 3%;
  font-weight: bold;
}

.nav {
  color:white;
  text-transform: uppercase;
  transition: color .1s;
}

.sec2 {
  //background: lavender;
}
.nav,.sidenav, .sec2{
  text-align:center
}
.content {
  min-width: 300px;
}

.sidenav{
  display: contents;
  color:white;
  text-transform: uppercase;
}

::ng-deep .mat-drawer-inner-container {
  width: 100%;
}

.sidenav-item{
    color: white;
    font-size: 10px;
}

mat-icon{
  color: white;
}

.apphome{
  height: 100% !important;
}

::ng-deep .mat-sidenav-backdrop.mat-sidenav-shown{
  background-color: transparent !important;
}

.mat-drawer-side {
  &.items-sidenav {
    z-index: 9999;
    visibility: visible !important;
    transform: translate3d(-190px, 0, 0) !important;
    transition: transform .4s cubic-bezier(.25, .8, .25, 1) !important;
    background-color:  #2F3A56;

    &.open {
      transform: translate3d(0, 0, 0) !important;

      .sidenav-item-container {
        .sidenav-item {
          .name {
            transform: translate3d(0, 0, 0);
          }

          .icon {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}


.sidenav-item-container {
  width: 240px;
  a:focus{
    background-color: #2B3346
  }
  .mat-ripple {
    overflow: hidden;
    text-decoration: none;
  }

  .flex-span {
    flex: 1 1 0%;
    box-sizing: border-box;
  }

  .sidenav-item {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0 24px 0 34px;
    height: 48px;
    font-size: 14px;
    cursor: pointer;
    transition: color .1s;
    .name {
      transform: translate3d(-50px, 0, 0);
      transition: transform .4s cubic-bezier(.25, .8, .25, 1) 40ms;
    }

    .icon {
      height: 35px;
      width: 35px;
      line-height: 35px;
      font-size: 18px;
      border-radius: 50px;
      text-align: center;
      transform: translate3d(16px, 0, 0);
      transition: transform .4s cubic-bezier(.25, .8, .25, 1);
    }

    .re-icon {
      font-size: 13px;
      line-height: 29px;
    }

    &:focus {
      outline: 0;
    }
  }

}
