<div style='height:100%'>
  <div fxLayout="column" fxFlex>
    <header fxFlex='8'>
      <div class="header-main">
        <div class="logo" fxFlex="7">Logo</div>
        <div class="header-left">
          <svg class="profile header-left-common"></svg>
          <div class="ring header-left-common"></div>
          <div class="help header-left-common"></div>
        </div>
      </div>
    </header>
    <div class="bounds" fxFlex='92'>
      <div class="content" fxLayout="row" fxFlexFill>
        <div [fxFlex]="sidenavWidth" class="nav">
          <mat-sidenav #entitiesMenu class="items-sidenav" mode='side' [class.open]="navOpen" (mouseover)="navOpen=true"
          (mouseout)="navOpen=false">
          <div class="sidenav-item-container">
            <a class="sidenav-item mat-ripple" fxlayout="row" fxlayoutalign="start center"
              routerLink="./">
              <span class="name">Home</span>
              <span fxflex class="flex-span"></span>
              <mat-icon mat-list-icon>link</mat-icon>
            </a>
          </div>
          <div class="sidenav-item-container">
            <a class="sidenav-item mat-ripple" fxlayout="row" fxlayoutalign="start center"
              routerLink="./dashboard">
              <span class="name">Dashboard</span>
              <span fxflex class="flex-span"></span>
              <mat-icon mat-list-icon>link</mat-icon>
            </a>
          </div>
          <div class="sidenav-item-container">
            <a class="sidenav-item mat-ripple" fxlayout="row" fxlayoutalign="start center"
              routerLink="./dashboard1">
              <span class="name">Dashboard 1</span>
              <span fxflex class="flex-span"></span>
              <mat-icon mat-list-icon>link</mat-icon>
            </a>
          </div>
          <div class="sidenav-item-container">
            <a class="sidenav-item mat-ripple" fxlayout="row" fxlayoutalign="start center"
              routerLink="./dashboard2">
              <span class="name">Dashboard 2</span>
              <span fxflex class="flex-span"></span>
              <mat-icon mat-list-icon>link</mat-icon>
            </a>
          </div>
          </mat-sidenav>
        </div>
        <div [fxFlex]="mainbodyWidth" class="sec2" style=" z-index: 9">

          <router-outlet></router-outlet>

        </div>
      </div>

    </div>

  </div>
</div>
