header{
  height:60px;
  background-color:gray;
}
.header-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px;
}
.header-left{
  display: flex;
  flex-direction: row-reverse;
  height: 30px;
}
.header-left-common{
  background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 4px;
    width: 30px;
    color: white;
}
.profile {
  background-image: url('../../assets/user.svg');
  fill:white;
}
.ring {
  background-image: url('../../assets/ring.svg');
}
.help {
  background-image: url('../../assets/info.svg');
}
.header-left > div {
  font-size: 2px;
  padding: 2px;
  color: white;
}
.logo{
  color:white;
  padding-left: 40px;
}


.bounds {
  background-color:#ddd;
  height :800px;
}

.nav {
  color:white;
  text-transform: uppercase
}

.sec2 {
  background: lavender;
  color:blue; 
}
.nav,.sidenav, .sec2{
  padding-top:20px;
  text-align:center
}
.content {
  min-width: 300px;
  /*height: 400px;*/
}

.sidenav{
  display: contents;
  background-color: lavenderblush;
  color:white;
  text-transform: uppercas
}

.active{
  background-color:rgba(9, 30, 66, 0.25);
}

.sidenav-item{
    color: white;
    font-size:20px; 
}

mat-icon{
  color: white;
}