<div fxLayout="column">
  <header>
    <div class="header-main">
      <div class="logo" fxFlex="15%">Logo</div>
      <div class="header-left">
        <svg class="profile header-left-common"></svg>
        <div class="ring header-left-common"></div>
        <div class="help header-left-common"></div>
      </div>
    </div>
  </header>
  <div class="container"
  fxLayout
  fxLayout.xs="column"
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">
<div class="item item-1" fxFlex="15%">Item 1</div>
<div class="item item-3" fxFlex>Item 3</div>
</div>
</div>